.board{
    margin: 50px auto;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 525px;
}

.game-status{
    color: darkcyan;
    font-size: 30px;
    margin:50px auto;
}