.board{
    margin: 50px auto;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 525px;
}

#sq0{
    border-top-left-radius: 15px;
}

#sq2{
    border-top-right-radius: 15px;
}

#sq8{
    border-bottom-right-radius: 15px;
}

#sq6{
    border-bottom-left-radius: 15px;
}

.square{
    align-items: center;
    background: #1e1e1e;
    width: 150px;
    height: 150px;
    margin: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 125px;
    padding-top: 0;
    color: #f94e3f;
}

.game-status{
    color: darkcyan;
    font-size: 30px;
    margin:50px auto;
}